
<body>
    <header>
        <button><i class="fas fa-angle-left"></i>BACK</button>
        <h1>MEDICAL INFO</h1>
    </header>
    
    <section>
        <table>
            <tr>
                <td>PATIENT ID:</td>
                <td class="field"><input type="text" class="getVal"/></td>
            </tr>
    
            <tr>
                <td>BLOOD TYPE:</td>
                <td class="field"><input type="text" class="getVal"/></td>
            </tr>
    
            <tr>
                <td>CHRONIC CONDITION(S):</td>
                <td class="field"><input type="text" class="getVal"/></td>
            </tr>
        </table>
    </section>
   
</body>