body{
    height: 640px;    
    background-color: blue;
}

header h1{
  margin-top: 10px;
  padding-top: 10px;
  color:white;
  text-align: center;
}

section{
    text-align: center;
    padding-top:80px;
}

.form-group
{
    padding-top: 70px;
}

.form-group label{
    text-align: center;
    margin-right: 40px;
    color: white;
    font-size: 15px;
}


.form-group .inputText{
    text-align:center;
    width: 250px;
    height: 25px;
}

.form-group button{
    width: 250px;
    height: 30px;
    text-align: center;
}

.form-group .form-control{
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

.form-group span{
  margin-right: 50px;
  color: red;
  font-size: 0.9em;
}

.footer-form{
    position: relative;
}

.footer-form .form-group{
    position: absolute;
    right: 25px;
}

.footer-form .form-group button{
    height: 30px;
    width: 100px;
}

#message{
    text-align: center;
    font-size: 1.8em;
    color: red;
    width: 100%;
    background-color: rgb(10, 10, 10);
}