<body>

    <!----->
    <header>
        <h1>ADMIN PAGE</h1>
        
    </header>

    <section>
       <form>
        <div class="form-group">
            <input type="button" class="btn btn-default" (click)="onMakeBookingButtonClick()" 
            value="Make Bookings" />
        </div>

        <div class="form-group">
            <input type="button" class="btn btn-default" (click)="onMAddPatientgButtonClick()"
            value="Add New Patient" />
        </div>
       </form>
    </section>
</body>

<router-outlet></router-outlet>
