
<body>
    <header>
        <h1>BOOKINGS</h1>
    </header>

    <section>
        <form class="myform">
           <div class="main-form">
               <div class="sub-form">
                    <div class="form-group">
                        <p>  <input type="text" disabled='true' class="form-control"/></p>
                    </div>

                    <div class="form-group">
                        <p>  <input type="text" disabled='true'  class="form-control"/></p>
                    </div>
               </div>

               <div class="sub-form">
                    <div class="form-group">
                        <p> <input type="text"  class="form-control"/></p>
                    </div>

                    <div class="form-group">
                       <p> <input type="text" disabled='true' class="form-control"/></p>
                    </div>
           </div>

           </div>

           <div class="form-footer">
                <div id="fFooter">
                    <div class="form-group">
                        <input type="button" value="Confirm" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="button" value="Cancel" class="form-control"/>
                    </div>
                </div>

                <div id="sFooter">
                    <div class="form-group">
                        <input type="button" value="View Appointments" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="button" value="Logout" class="form-control"/>
                    </div>
                </div>
           </div>

        </form>
    

    </section>
</body>